<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccb.mapper.FollowMapper">
    <!-- 查询所有关注者关注的用户ID -->
    <select id="selectFollowIdsByFanId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT follow_id FROM follow WHERE fan_id = #{fanId}
    </select>

    <!-- 查询所有关注某用户的关注者ID -->
    <select id="selectFanIdsByFollowId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT fan_id FROM follow WHERE follow_id = #{followId}
    </select>

    <!-- 添加关注关系 -->
    <insert id="addFollow">
        INSERT INTO follow (fan_id, follow_id) VALUES (#{fanId}, #{followId})
    </insert>

    <!-- 删除关注关系 -->
    <delete id="deleteFollow">
        DELETE FROM follow WHERE fan_id = #{fanId} AND follow_id = #{followId}
    </delete>
</mapper>