<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccb.mapper.PostingMapper">
    <select id="getPostingByUserId" parameterType="Integer" resultType="java.lang.Integer">
        SELECT id FROM postings WHERE userId = #{userId}
    </select>
</mapper>