<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccb.mapper.PostingCommentMapper">
    <!-- 根据帖子ID获取评论ID列表 -->
    <select id="getPostingCommentIdsByPostingId" parameterType="Integer" resultType="java.lang.Integer">
        SELECT id FROM posting_comment WHERE posting_id = #{postingId}
    </select>

    <!-- 根据用户ID获取评论ID列表 -->
    <select id="getPostingCommentIdsByUserId" parameterType="Integer" resultType="java.lang.Integer">
        SELECT id FROM posting_comment WHERE user_id = #{userId}
    </select>

    <!-- 根据评论ID获取评论ID列表（假设获取子评论） -->
    <select id="getPostingCommentIdsByCommentId" parameterType="Integer" resultType="java.lang.Integer">
        SELECT id FROM posting_comment WHERE comment_id = #{commentId}
    </select>
    <select id="getUserIdByCommentId" parameterType="Integer" resultType="java.lang.Integer">
        SELECT user_id FROM posting_comment WHERE id = #{commentId}
    </select>
</mapper>