<!-- UserMapper.xml -->
<mapper namespace="com.ccb.mapper.UserMapper">
    <select id="selectUsersByIds" resultType="com.ccb.model.pojo.User">
        SELECT * FROM user WHERE id IN
        <foreach item="item" index="index" collection="userIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>